mixin use(data)
    .use&attributes(attributes)
        h2.use__title.title.title_h2 Применение профилированного поликарбоната:
        ul.use__list
            li.use__item.use__item_1
                .use__icon 
                | Остекление <br/>беседок 
            li.use__item.use__item_2
                .use__icon
                | Кровля <br/>для веранды
            li.use__item.use__item_3
                .use__icon
                | Прозрачная <br/>крыша для<br/> пристроев, террасс
            li.use__item.use__item_4
                .use__icon
                | Светопрозрачные <br/>заборы