mixin features(data)
    .features&attributes(attributes)

        .features__container
            .features__list
                article.features__feature.feature
                    .feature__entry
                        h3.feature__title.title.title_h3 Принимай участие в турнирах
                        ul.feature__list
                            li.feature__list-item Прими участие в командных и соло дисциплинах по твоим любым играм
                            li.feature__list-item Соревнуйся с игроками со всего мира
                            li.feature__list-item Покажи свой скилл! Выбери турнир и жми кнопку «Регистрация», <br/>далее следуй  указаним системы – это займет всего несколько секунд

                        a.feature__button.button(href="#button") подробнее

                    .feature__image
                        img.lazy(data-bg="assets/images/content/features-img-1.png" src="assets/images/content/features-img-1.png",  alt="")

                article.features__feature.feature
                    .feature__entry
                        h3.feature__title.title.title_h3 Отслеживай свою статистику
                        ul.feature__list
                            li.feature__list-item Cледи за игровыми успехами через детализированную систему статистики

                            li.feature__list-item Анализируй свой прогресc и рейтинг относительно  других игроков 

                        a.feature__button.button(href="#button") подробнее

                    .feature__image
                        img.lazy(data-bg="assets/images/content/features-img-2.png" src="assets/images/content/features-img-2.png", alt="")

                article.features__feature.feature
                    .feature__entry
                        h3.feature__title.title.title_h3 Играй и зарабатывай на этом! 
                        ul.feature__list
                            li.feature__list-item Соревнуйся с соперниками и выигрывай реальные деньги

                            li.feature__list-item Призовой фонд постоянно пополняется

                            li.feature__list-item Выводи деьги удобным для тебя способом

                        a.feature__button.button(href="#button") подробнее

                    .feature__image
                        img.lazy(data-bg="assets/images/content/features-img-3.png" src="assets/images/content/features-img-3.png", alt="")