.features {
     background: #14141a;    

    &__container {
        @extend .container;
        
        position: relative;
        padding-bottom: 10px;

        &:after {
        
            position: absolute;
            z-index: 0;
            top: 79px;
            left: -151px;
            
            width: 1724px;
            height: 1614px;
            
            content: "";
            background: url('../images/general/features-bg.png') 0 0 no-repeat;

        }

    }

    
    &__list {
        position: relative;
        z-index: 1;
        

    }


    &__feature {
        

    }





}
