mixin share(data)
    .share
        .share__container.container
            h3.share__title.title.title_h3 Посоветовать друзьям
            .share__widget
                | <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,evernote,linkedin,lj,tumblr"></div>
