.table
{
    font-size: 17px;
    line-height: 1.7;

    width: 100%;
    // table-layout: fixed;

    border-radius: 10px;
    &__header
    {
        height: 50px;
    }

    &__th
    {
        font-size: 13px;
        font-weight: 700;

        padding-right: 36px;
        padding-left: 39px;

        text-align: left;
        white-space: nowrap;
        letter-spacing: .59px;
        text-transform: uppercase;

        color: #032f6b;
        background-color: #ffd736;
        &:first-child
        {
            width: 25%;

            text-align: left;

            border-radius: 10px 0 0 0;
        }


        &:last-child
        {
            border-radius: 0 10px 0 0;
        }
    }

    &__row
    {
        &:first-child
        {
            width: 25%;

            .table__tr
            {
                padding-left: 39px;
            }
        }

        &:last-child
        {
            .table__tr
            {
                border-bottom: none;
                
                
                &:first-child
                {

                    border-radius: 0 0 0 10px;
                }


                &:last-child
                {
                    border-radius: 0 0 10px 0;
                }


            }
        }
    }


    &__tr
    {
        font-weight: 500;

        padding-top: 14px;
        padding-bottom: 10px;
        padding-left: 39px;

        text-align: left;

        color: #0f0e0e;
        border-bottom: 1px solid #dadada;
        background: #fff;
    }
}
