mixin table(data)
    table.table&attributes(attributes)

        tr.table__header
            th.table__th Название поликарбоната
            th.table__th Минимальный радиус изгиба
            th.table__th Вес, м2
            th.table__th Вес листа

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2
            td.table__tr Вес листа

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2
            td.table__tr Вес листа

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2
            td.table__tr Вес листа

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2
            td.table__tr Вес листа


        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2
            td.table__tr Вес листа

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2
            td.table__tr Вес листа

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2
            td.table__tr Вес листа




mixin table-sizes(data)
    table.table&attributes(attributes)

        tr.table__header
            th.table__th Название поликарбоната
            th.table__th размер волны
            th.table__th размер листа

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2


        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2

        tr.table__row
            td.table__tr Название поликарбоната
            td.table__tr Минимальный радиус изгиба
            td.table__tr Вес, м2
