.logo {
    border: 5px solid #ffffff;
    padding-top: 4px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 19px;
    display: inline-block;
    color: #fffefe;
    font-family: $b;
    font-size: 27px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    border-radius: 4px;
    @include tr(all .3s ease);
    &:hover {
        opacity: .8;
        color: #fffefe;
        @include tr(all .3s ease);

    }

    


}


