.footer {
    background: #f9f9f9;
    color: #000000;

    &__container {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        @include rmin($lg) {
            justify-content: flex-start;
            align-items: center;
            
        }
        
    }


    &__privacy {
        margin-top: 3px;
        margin-bottom: 5px;
        padding-bottom: 2px;
        color: #000000;
        font-size: 19px;
        font-weight: 700;
        box-shadow: inset 0 -1px 0 0 #000;
        line-height: 1;
        &:hover {
            color: lighten(#000000, 10);
            box-shadow: none;
            
        }

        @include rmin($sm) {
            margin-bottom: 0;
        }

    }   
    

    &__contacts {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 100%;
        @include rmin($sm) {
            flex-direction: row;
            flex-basis: auto;
        }
    } 

    &__phone {
        margin-right: 0;
        @include rmin($sm) {
            
            margin-right: 16px;
            
        }

    }

    &__email {
        margin-right: 0;
        padding-bottom: 2px;
        color: #010101;
        font-size: 17px;
        font-weight: 500;
        line-height: 1;
        box-shadow: inset 0 -1px 0 0 #010101;
        text-decoration: none;
        
        @include rmin($sm) {
            
            margin-right: 16px;
            
        }

        &:hover {
            color: lighten(#010101, 10);
            box-shadow: none;
            
        }
    }


    &__button {
        margin-top: 10px;
        padding-top: 11px;
        padding-right: 19px;
        padding-bottom: 4px;
        padding-left: 27px;
        
        @include rmin($sm) {
            
            margin-top: 0;
            
        }

    }

}

