mixin footer(data)
    footer.footer
        .footer__container.container
            a.footer__privacy(href="#") Условия конфиденциальности

            .footer__contacts
                a.footer__phone.phone.phone_second(href="tel:+88006000500") 8 800 6000-500
                a.footer__email(href="mailto:sales@smartkomplekt") sales@smartkomplekt
                a.footer__button.button.button_small(href="#callback") Перезвоните мне
