mixin play(data)
    .play&attributes(attributes)
        .play__container.container
            h2.play__title.title.title_h2 Play games. Increase your skill
            .row
                .col-12
                    ul.row.no-gutters.play__list
                        li.col-12.col-sm-4.play__item.play__item_money
                            .play__w
                                .play__icon.lazy-background
                                .play__item-title Win money
                        li.col-12.col-sm-4.play__item.play__item_points
                            .play__w
                                .play__icon.lazy-background
                                .play__item-title Win points
                        li.col-12.col-sm-4.play__item.play__item_xp
                            .play__w
                                .play__icon.lazy-background
                                .play__item-title Raise XP

