mixin cta(data)
    .cta&attributes(attributes)
        .cta__container.container
            .row
                .col
                    h2.cta__title.title.title_h2 Не теряй времени, присоединяйся сейчас!
                    a.cta__button.button.button_big-second(href="#") присоединяйтесь