.cta {
    position: relative;
    z-index: 1;
    background: #e945c4 url('../images/general/cta-bg.png') 50% 0 repeat-x;
    
    &__container {
        padding-top: 68px;
        padding-bottom: 53px;
        text-align: center;
    }

    &__title {
        padding-bottom: 39px;

    }

    &__button {
        padding-left: 54px;
        padding-right: 55px;
        padding-top: 28px;
        padding-bottom: 20px;

    }
}

