mixin reviews(data)
    .reviews&attributes(attributes)
        .reviews__container.container
            h2.reviews__title.title.title_h2 Отзывы клиентов центра прозрачной кровли
            ul.reviews__list
                li.reviews__review
                    .reviews__photo
                        .reviews__photo-image
                            img.lazy(data-src="assets/images/content/review-img.jpg", alt="")
                    .reviews__name.title.title_h4 Кострубов родион юрьевич

                    .reviews__city 
                        | город Екатеринбург
                        != pugHelpers.Icon.call(locals, {iconName: 'marker', className: 'reviews__city-icon'})

                    .reviews__text Жена поставила задачу заменить старую деревянную изгородь у мамы на даче. Стал искать где в г.Екатеринбурге купить забор из металлического штакетника по хорошей стоимости. Цена на штакетник у местных производителей кусается, качество разное. Нашел сайт штакетники.ру, показал жене - были удивлены сколько вариантов цвета и дизайна оказывается можно сделать. Спасибо девушке менеджеру, все рассказала и подсказала, совместно подобрали подходящий вариант. Предложение нас устроило, сроки и стоимость доставки тоже. Отправляли с производства транспортной компанией, с терминала забирал сам. Штакетник пришел в упаковке, каждая штакетина в пленке и ничего не повредилось. В общем и целом остался доволен, монтаж сделали с товарищем своими руками - ничего сложного, берешь шуруповерт и прикручиваешь. Хотите получить забор без забот и хлопот - обращайтесь в Центр Металлокровли!


                li.reviews__review
                    .reviews__photo
                        .reviews__photo-image
                            img.lazy(data-src="assets/images/content/review-img.jpg", alt="")
                    .reviews__name.title.title_h4 Кострубов родион юрьевич

                    .reviews__city 
                        | город Екатеринбург
                        != pugHelpers.Icon.call(locals, {iconName: 'marker', className: 'reviews__city-icon'})

                    .reviews__text Жена поставила задачу заменить старую деревянную изгородь у мамы на даче. Стал искать где в г.Екатеринбурге купить забор из металлического штакетника по хорошей стоимости. Цена на штакетник у местных производителей кусается, качество разное. Нашел сайт штакетники.ру, показал жене - были удивлены сколько вариантов цвета и дизайна оказывается можно сделать. Спасибо девушке менеджеру, все рассказала и подсказала, совместно подобрали подходящий вариант. Предложение нас устроило, сроки и стоимость доставки тоже. Отправляли с производства транспортной компанией, с терминала забирал сам. Штакетник пришел в упаковке, каждая штакетина в пленке и ничего не повредилось. В общем и целом остался доволен, монтаж сделали с товарищем своими руками - ничего сложного, берешь шуруповерт и прикручиваешь. Хотите получить забор без забот и хлопот - обращайтесь в Центр Металлокровли!