mixin colors(data)
    .colors&attributes(attributes)
        .colors__container.container
            h2.colors__title.title.title_h2 Цвета профилированного <br/> поликарбоната
            ul.colors__list
                li.colors__item
                    a.colors__link(href="#")
                    .colors__image
                        img.lazy(data-src="assets/images/content/color-1.jpg", alt="")
                    .colors__item-title Бирюзовый прозрачный
                li.colors__item
                    a.colors__link(href="#")
                    .colors__image
                        img.lazy(data-src="assets/images/content/color-2.jpg", alt="")
                    .colors__item-title Коричневый прозрачный
                li.colors__item
                    a.colors__link(href="#")
                    .colors__image
                        img.lazy(data-src="assets/images/content/color-3.jpg", alt="")
                    .colors__item-title Зеленый прозрачный
                li.colors__item
                    a.colors__link(href="#")
                    .colors__image
                        img.lazy(data-src="assets/images/content/color-4.jpg", alt="")
                    .colors__item-title Красный прозрачный
                li.colors__item
                    a.colors__link(href="#")
                    .colors__image
                        img.lazy(data-src="assets/images/content/color-5.jpg", alt="")
                    .colors__item-title Оранжевый прозрачный
                li.colors__item
                    a.colors__link(href="#")
                    .colors__image
                        img.lazy(data-src="assets/images/content/color-6.jpg", alt="")
                    .colors__item-title Синий прозрачный
                li.colors__item
                    a.colors__link(href="#")
                    .colors__image
                        img.lazy(data-src="assets/images/content/color-7.jpg", alt="")
                    .colors__item-title Прозрачный
                li.colors__item
                    a.colors__link(href="#")
                    .colors__image
                        img.lazy(data-src="assets/images/content/color-8.jpg", alt="")
                    .colors__item-title Желтый прозрачный