mixin join(data)
    .join&attributes(attributes)
        .join__container.container
            h2.join__title.title.title_h2 Ready to join? It's free!
            .join__w
                .join__monitor
                    img.join__monitor-image.lazy(data-src="%=static=%images/content/ui-monitor.jpg" src="%=static=%images/content/ui-monitor.jpg", alt="")
                .join__mobile
                    img.join__mobile-image.lazy(data-src="%=static=%images/content/ui-mobile.jpg" src="%=static=%images/content/ui-mobile.jpg", alt="")