mixin photo(data)
    section.photo
        .photo__container.container
            .photo__w
                h2.photo__title.title.title_h2 Фото объектов с использованием профилированного поликарбоната

                .photo__slider
                    .photo__image
                        img.lazy(data-src="assets/images/content/photo-img-1.jpg", alt="")

                    .photo__image
                        img.lazy(data-src="assets/images/content/photo-img-1.jpg", alt="")

                    .photo__image
                        img.lazy(data-src="assets/images/content/photo-img-1.jpg", alt="")

                    .photo__image
                        img.lazy(data-src="assets/images/content/photo-img-1.jpg", alt="")


                    .photo__image
                        img.lazy(data-src="assets/images/content/photo-img-1.jpg", alt="")

                    .photo__image
                        img.lazy(data-src="assets/images/content/photo-img-1.jpg", alt="")



                .photo__thumbs
                    .photo__image
                        img.lazy(data-src="assets/images/content/thumb-img-1.jpg", alt="")

                    .photo__image
                        img.lazy(data-src="assets/images/content/thumb-img-2.jpg", alt="")

                    .photo__image
                        img.lazy(data-src="assets/images/content/thumb-img-3.jpg", alt="")

                    .photo__image
                        img.lazy(data-src="assets/images/content/thumb-img-1.jpg", alt="")

                    .photo__image
                        img.lazy(data-src="assets/images/content/thumb-img-2.jpg", alt="")

                    .photo__image
                        img.lazy(data-src="assets/images/content/thumb-img-3.jpg", alt="")                   