mixin header(data)
    .header
        .header__container.container-fluid
            .row
                .col-12.col-sm-6
                    a.header__logo.logo(href="#") Beleague
                .col-12.col-sm-6
                    .header__auth
                        a.header__button.button(href="#") войти через steam
