mixin geo(data)
    .geo
        .geo__container.container
            h2.geo__title.title.title_h2 География поставок <br/>профилированного поликарбоната
        .geo__map
            #map.geo__object
