.hero {
    position: relative;
    background: radial-gradient(circle 974px at center, rgba(40, 37, 50, 0) 0%, #282532 100%);
    // background-image: url('../images/general/hero-bg.jpg');
    // background-position: calc(50% - 350px) 0;
    background-position: calc(50%) 0;
    
    background-repeat: no-repeat;
    // height: 1100px;
    background-color: #272532;
    
    @include rmin($sm) {
        // background: red;
    }

    // overflow: hidden;
    
    &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 230px;
        content: '';
        background-image: url('../images/general/hero-shape.png');
        background-position: calc(0% - 0px) calc(100% + 133px);
        background-repeat: repeat-x;
    }
    &__container {
        padding-top: (156px / 2);
        padding-bottom: (79px / 2);
        text-align: center;
        
        overflow: hidden;

        @include rmin($sm) {
            padding-top: 156px;
            padding-bottom: 79px;


        }
    
        
    }

    &__title {
        margin-bottom: 30px;
        @include css-lock(30, 60, 320, 1400, font-size);
    }

    &__text {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        
        @include css-lock(16, 24, 320, 1400, font-size);
        

    }

    &__button {
        margin-top: (56px / 2);
        padding-top: 30px;
        padding-right: 46px;
        padding-left: 45px;
        padding-bottom: 28px;
        
        @include rmin($sm) {
           margin-top: 56px;

        }
        
    }

    &__games {
        position: relative;
        z-index: 1;
        margin: auto;
        margin-top: (0);
        margin-bottom: -27px;

        max-width: 1670px;

        @include rmin($sm) {
            margin-top: 76px;
        }

    }
}
