include ../header/header.pug
include ../use/use.pug

mixin hero(data)
    .hero.lazy&attributes(attributes)(data-bg="url(assets/images/content/hero-bg.jpg)" )

        +header()

        .hero__container.container
            h1.hero__title.title.title_h1 Профилированный поликарбонат
            .hero__text —  современное решение для светопрозрачной кровли



            +use().hero__use



