mixin achieve(data)
    .achieve&attributes(attributes)
        .achieve__container
            .achieve__list
                article.achieve__item.achieve__item_first
                    .achieve__bg.lazy-background(style="background-image:url(%=static=%images/general/achieve-bg-1.png);" data-bg="background-image:url(%=static=%images/general/achieve-bg-1.png);")

                    .achieve__inner
                        .achieve__text Принимай участие в турнирах, выполняй задания и зарабатывай поинты

                article.achieve__item.achieve__item_second
                    .achieve__bg.lazy-background(style="background-image:url(%=static=%images/general/achieve-bg-2.png);" data-bg="background-image:url(%=static=%images/general/achieve-bg-2.png);")

                    .achieve__inner
                        .achieve__text Призовой фонд на первый сезон <br/>10 000$ Стань лучшим и попади в топ-500 лиги платформы bel.gg