// Common styles of the project

html,
body
{
    height: 100%;
}

.page
{
    min-height: 100vh;
    font-family: $a;
    font-size: 17px;
    font-weight: 500;

    // display: flex;
    // overflow: hidden;
    // flex-direction: column;

    color: #fff;
    background-color: #f9f9f9;

    font-display: swap;

    &__wrapper
    {
        display: flex;
        flex-direction: column;

        min-height: 100vh;
        // overflow: hidden;
    }

    &__inner
    {

        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        
        overflow: hidden;
        
    }
}


.container
{
    margin: auto;
    max-width: 1030px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
