/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/


@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/hinted-subset-OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/hinted-subset-OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
        url('../fonts/hinted-subset-OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/hinted-subset-OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/hinted-subset-OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/hinted-subset-OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: local('Barlow Condensed Bold Italic'), local('BarlowCondensed-BoldItalic'),
        url('../fonts/hinted-subset-BarlowCondensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/hinted-subset-BarlowCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

$b: 'Barlow Condensed',  Arial, "Helvetica Neue", Helvetica, sans-serif;
$o: 'Open Sans',  Arial, "Helvetica Neue", Helvetica, sans-serif;




