/* Your custom fonts here */

@font-face {
    font-family: 'Alegreya Sans';
    src: local('Alegreya Sans Light'), local('AlegreyaSans-Light'),
        url('../fonts/hinted-subset-AlegreyaSans-Light.woff2') format('woff2'),
        url('../fonts/hinted-subset-AlegreyaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'),
        url('../fonts/hinted-subset-AlegreyaSans-Medium.woff2') format('woff2'),
        url('../fonts/hinted-subset-AlegreyaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'),
        url('../fonts/hinted-subset-AlegreyaSans-Bold.woff2') format('woff2'),
        url('../fonts/hinted-subset-AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: local('Alegreya Sans Regular'), local('AlegreyaSans-Regular'),
        url('../fonts/hinted-subset-AlegreyaSans-Regular.woff2') format('woff2'),
        url('../fonts/hinted-subset-AlegreyaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Bebas Neue';
    src: local('BebasNeueRegular'),
        url('../fonts/hinted-subset-BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/hinted-subset-BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$b: 'Bebas Neue',  Arial, "Helvetica Neue", Helvetica, sans-serif;
$a: 'Alegreya Sans',  Arial, "Helvetica Neue", Helvetica, sans-serif;




