// GUI stylies of the project
// For example, styles of the links, buttons and so on.


/* h1 */

.page {
    &__title {
        margin-top: 0;
        max-width: 425px;
        background: white;
        font-size: 60px;
    }

}           

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}


.lazy-bg {
    display: none;
    
    &.visible {

        display: block;
    
    }

}

.button {
    border: none;
    display: inline-block;
    vertical-align: baseline;
    height: 39px;
    background-color: #fee51e;
    color: #0f0e0e;
    font-family: $a;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    @include css-lock(14, 18, 320, 1130, font-size);
    text-align: center;
    white-space: nowrap;
    border-radius: 30px;
    @include tr(all .3s ease);
    @include rmin($sm) {

    }

    &:hover {
        background-color: darken(#fee51e, 10);
        color: #0f0e0e;
        @include tr(all .3s ease);
    }

    &_big {
        height: 46px;
    }
    &_small {
        height: 32px;
        background-color: #e9e9e9;
        color: #010101;
        font-size: 15px;
        font-weight: 300;
        &:hover {
             background-color: darken(#e9e9e9, 10);
        }
        
    }

}


.title {
    color: #ffffff;
    font-family: $a;
    text-transform: uppercase;
    &_h1 {
        font-size: 54px;
        font-weight: 700;
        line-height: 1.3;
        // letter-spacing: 1.1px;
        letter-spacing: 0.2px;
        @include css-lock(30, 54, 320, 1129, font-size);
        
    }
    &_h2 {
        color: #032f6b;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.1;
        
        @include css-lock(18, 36, 320, 1130, font-size);
    }
    &_h3 {
        color: #000000;
        font-size: 30px;
        font-weight: 700;
        @include css-lock(18, 30, 320, 1130, font-size);
        
    }
    &_h4 {
        color: #0f0e0e;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        @include css-lock(16, 24, 320, 1130, font-size);
    }

    // &_h5 {
    //     font-size: 18px;
    //     font-weight: 400;
    //     line-height: 1.4;   
    // }
    // &_h6 {
    //     font-size: 16px;
    //     font-weight: 400;
    //     line-height: 1.5;
    // }
}

