mixin how(data)
    section.how
        .how__container.container
            h2.how__title.title.title_h2 Как купить 
                span профилированный поликарбонат
    
            ul.how__list
                li.how__item
                    .how__number
                    .how__text Вы оставляете <br/>заявку на сайте <br/>или по телефону
                li.how__item
                    .how__number
                    .how__text Связываемся с Вами, <br/>уточняем детали, при <br/>необходимости расчитываем <br/>точное количество <br/>материалов 

                li.how__item
                    .how__number
                    .how__text Выставляем счет <br/>на оплату согласно заявке, <br/>доступен наличный и <br/>безналичный расчет

                li.how__item
                    .how__number
                    .how__text Отправка транспортной <br/>компанией <br/>или самовывоз


