mixin games(data)
    .games&attributes(attributes)
        article.games__game.game.game_dota-underlord
            a.game__link(href="#")
            .game__inner
                .game__shape.lazy(data-bg="background-image: url('assets/images/general/game-shape-dota.png');" style="background-image: url('assets/images/general/game-shape-dota.png');")
                    img.game__image(src="assets/images/content/game-img-dota.png", alt="")
                .game__text
                    .game__title dota underlord

        article.games__game.game.game_csgo
            a.game__link(href="#")
            .game__inner
                .game__shape.lazy(data-bg="background-image: url('assets/images/general/game-shape-csgo.png');" style="background-image: url('assets/images/general/game-shape-csgo.png');")
                    //- img.game__image(src="assets/images/content/game-img-csgo.png", alt="")
                .game__text
                    .game__title cs go
                    .game__status в разработке

        article.games__game.game.game_dota2
            a.game__link(href="#")
            .game__inner
                .game__shape.lazy(data-bg="background-image: url('assets/images/general/game-shape-dota2.png');" style="background-image: url('assets/images/general/game-shape-dota2.png');")
                    //- img.game__image(src="assets/images/content/game-img-dota2.png", alt="")
                .game__text
                    .game__title dota 2
                    .game__status в разработке

        article.games__game.game.game_pugb
            a.game__link(href="#")
            .game__inner
                .game__shape.lazy(data-bg="background-image: url('assets/images/general/game-shape-pubg.png');" style="background-image: url('assets/images/general/game-shape-pubg.png');")
                    //- img.game__image(src="assets/images/content/game-img-pubg.png", alt="")
                .game__text
                    .game__title pubg
                    .game__status в разработке

        article.games__game.game.game_teamfight
            a.game__link(href="#")
            .game__inner
                .game__shape.lazy(data-bg="background-image: url('assets/images/general/game-shape-team.png');" style="background-image: url('assets/images/general/game-shape-team.png');")
                    //- img.game__image(src="assets/images/content/game-img-team.png", alt="")
                .game__text
                    .game__title teamfight tactics
                    .game__status в разработке

        article.games__game.game.game_fortnite
            a.game__link(href="#")
            .game__inner
                .game__shape.lazy(data-bg="background-image: url('assets/images/general/game-shape-fortnite.png');" style="background-image: url('assets/images/general/game-shape-fortnite.png');")
                    //- img.game__image(src="assets/images/content/game-img-fortnite.png", alt="")
                .game__text
                    .game__title fortnite
                    .game__status в разработке

        article.games__game.game.game_apex
            a.game__link(href="#")
            .game__inner
                .game__shape.lazy(data-bg="background-image: url('assets/images/general/game-shape-apex.png');" style="background-image: url('assets/images/general/game-shape-apex.png');")
                    //- img.game__image(src="assets/images/content/game-img-apex.png", alt="")
                .game__text
                    .game__title apex legends
                    .game__status в разработке