mixin view(data)
    .view
        .view__container.container
            h2.view__title.title.title_h2 Виды волны профилированного <br/> поликарбоната
            ul.view__list
                li.view__item
                    a.view__link(href="#")
                    .view__image
                        img.lazy(data-src="assets/images/content/view-1.jpg", alt="")
                    .view__item-title Трапеция borrex (70*13) 
                li.view__item
                    a.view__link(href="#")
                    .view__image
                        img.lazy(data-src="assets/images/content/view-1.jpg", alt="")
                    .view__item-title МП-20 borrex (35*14) 
                li.view__item
                    a.view__link(href="#")
                    .view__image
                        img.lazy(data-src="assets/images/content/view-1.jpg", alt="")
                    .view__item-title Greca/Trapeze (76/18)
                li.view__item
                    a.view__link(href="#")
                    .view__image
                        img.lazy(data-src="assets/images/content/view-1.jpg", alt="")
                    .view__item-title Omega (76/15)